#home article {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 2rem;

  & img {
    border-radius: 50%;
    padding: 0 ;
  }

  & a {
    text-decoration: none;
    color: yellow;
    border-bottom: 2px solid transparent;
    &:hover {
      border-color: yellow;
    }
  }
}

#home article > * {
  background-color: var(--blackt);
  border: 2px solid white;
  padding: 0.33rem;
}