figure {
  border: 5px solid white;
  & img {
   height: 200px;
   width: 220px;
  }
  & figcaption {
    text-align: center;
    background-color: var(--blackt);
    backdrop-filter: blur(5px);
    padding: 0.2rem;
    margin-top: -0.3rem;
  }
}

.price {
  background-color: green;
}

#menu article {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, 230px);
  place-content: center;
}

#menu h2 {
  text-align: center;
  padding: 1rem;
}